#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  user-select: none;
    caret-color: transparent;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#wordReveal {
  position: absolute;
  left: 50%;  /* Move the left edge to the middle */
  transform: translate(-50%, -50%); /* Offset by half the div's width and height */
  background-color: aliceblue;
  width: 100px;
  height: 50px;
  margin: 0;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center;     /* Center content vertically */
  text-align: center;
  border-radius: 15px;
  font-size: 30px;
  caret-color: transparent;
  user-select: none;
}

#reset{
  margin: 20px;
  border-color: #888;
  background-color: transparent;
  border-style: double;
  width: 80px;
  height: 30px;
  color: rgb(169, 169, 169);
}